labeled_data/
training_docs/
master_labeled_data.csv
# Byte-code files
__pycache__/
*.pyc
*~$
*.whl
*.egg

# Operating System files
.DS_Store
.envrc

# Build artifacts
.coverage
.DS_Store
.nox/
.tox/
.venv/
bin/
build/
dist/
develop-eggs/
eggs/
include/
lib/
lib64/
local/
man/
parts/
run/
share/
src/
var/
wheels/

# IDE/Editor-specific files
.idea/          # PyCharm/IntelliJ
.vscode/        # VS Code (can be included if shared settings are desired, otherwise ignored)
*.swp           # vim
*.sublime-project
*.sublime-workspace

# Temporary files, logs, and databases
*.log
*.sqlite3
*.sql
db.sqlite3

# Python version management
.python-version
